.full {
  padding-left: 0;
  padding-right: 0;
}

.medium {
  max-width: 1300px;
  margin-inline: auto;
  padding-block: 80px;
  padding-inline: 20px;
}

.mediumInner {
  max-width: 1760px;
}

@media (min-width: 1024px) {
  .medium {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (width >= 1920px) {
  .medium {
    padding-left: 228px;
    padding-right: 228px;
  }
}
